.DS_Store
backups
oradata_old
ords-config
ords-secrets
.env
.env.bak
.env_old
.env.ords
**/cert.crt
**/key.key
apex/**/*
META-INF/**/*
apex-images
install_*.log
.fetch-client/
apex-patches/*.zip
post-install.conf
.env.adb
.certs/
logs/
